.menu {
    background-color: var(--branco);
    border-radius: 12px 12px 0px 0px;
    bottom: 0;
    color: var(--cor-secundaria);
    left: 0;
    position: fixed;
    width: 100%;
}

.menu-lista {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    text-align: center;
}

.menu-lista li {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.menu-lista li:hover {
    color: var(--azul);
}

.menu-lista li svg {
    height: 20px;
    width: 24px;
}

.menu-lista li:hover>svg path {
    fill: var(--azul);
}

.menu-lista li span {
    font-size: 0.85rem;
}

.tela-ativa {
    color: var(--azul);
    font-weight: bold;
}

/* Telas a partir de 1024px */
@media screen and (min-width: 1024px) {
    .menu {
        border-radius: 0px;
        border-right: 2px solid var(--cor-secundaria);
        padding: 14px 0px 0px 14px;
        top: 0px;
        width: 180px;
    }

    .menu-lista {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    .menu-lista li {
        flex-direction: row;
        gap: 8px;
    }

    .inicio,
    .lista-de-consultas {
        padding-left: 200px;
    }
}