@import url('./variaveis.css');
@import url('./home.css');
@import url('./consultas.css');
@import url('./navegacao.css');
@import url('./botao-flutuante.css');
@import url('./modal.css');
@import url('./formulario.css');

html {
    font-size: 14px;
}

main {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    font-weight: 400;
    line-height: 160%;
    padding: 32px 16px;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 18px;
    }
}