@import url('./variaveis.css');
@import url('./home.css');
@import url('./consultas.css');
@import url('./navegacao.css');
@import url('./botao-flutuante.css');
@import url('./modal.css');

main {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    padding: 32px 16px;
}